/*Tracks Groupbox style*/

/*.track-groupbox-header{

}
.track-groupbox-hl .track-groupbox-header {

}
.track-groupbox-tl {

}
.track-groupbox-tr {

}*/
.track-groupbox-hl {
    padding-left:0px;
}
/*.track-groupbox-hr {

}
.track-groupbox-hm {

}
.track-groupbox-cnt {

}
.track-groupbox-bm {

}
.track-groupbox-bl {

}
.track-groupbox-br {

}*/

/* Tracks grid style */

div.tracks-caption-grid {
    background: red;
    overflow: hidden;
}

div.tracks-grid {
    background: transparent;
    overflow: hidden;
    padding-left:8px;
}

/* div.z-grid-header, div.z-grid-header tr, div.z-grid-footer {

}
/* div.z-grid-header tr.z-columns, div.z-grid-header tr.z-auxhead {

}*/
/* div.z-grid-body {
    padding-left: 0px;
}*/
/* div.z-grid-footer {

} */

/*.z-caption input, .z- caption td {

}*/
.tracks-caption .tracks-caption-l {
    width:0px;
    padding:0px;
}
/*.z-caption .z-caption-r {

}
.z-caption button, .z-caption .z-button .z-button-btn {

}
.z-caption a, .z-caption a:visited {

}*/

div.z-listbox {
    padding:0px;
}
/*div.z-listbox-header, div.z-listbox-header tr, div.z-listbox-footer {

}*/
div.z-listbox-body {
    padding:0px;
}
/*div.z-listbox-footer {

}*/

